body{
    background-color: rgba(255,255,255,0);
    opacity: 1;
    background-image: radial-gradient(#ffdecb 2px, rgba(255,255,255,0) 2px);
    background-size: 40px 40px;
    transition: 0.5s
}
.line{
    position: absolute;
    border-bottom: 5px solid black;
    z-index: -1;
    transform-origin: 0 0;
}
.line-text{
    left: 50%;
    font-family: "Noto Sans Mono", monospace;
    position: absolute;
    font-size: 20px;
    color: black;
    transform: translate(-50%, -45%);
}
input{
    padding: 0;
    border: none;
    text-align: center;
    outline: none;
}
input:disabled {
    background-color: #f8f9fa;
}
.node{
    position: absolute;
    border-radius: 50%;
    background-color: orangered;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 0;
    box-shadow: 0 0 10px 0 black;
}
.selected{
    cursor: pointer;
    border: #2b2d30 5px solid;
}
#nav{
    z-index: 1;
    justify-content: center;
    padding: 0;
}
#nav *{
    transition: 0.5s ease !important;

}
.nav-separator{
    margin: 0 20px;
}
#nav-options{
    width: auto;
    background-color: #2b2d30;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    flex-direction: column;
}
#nav-options h1{
    color: white;
    font-size: 25px;
    margin: 0;
}
#nav-buttons{
    display: flex;
    justify-content: center;
}
#nav-buttons button{
    box-shadow: 0 0 10px 0 black;
    margin-top: 3px;
    margin-bottom: 3px;
}
.btn-primary{
    margin: 20px 10px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    color: white;
    z-index: 1;
    height: 50px;
    transition: 0.5s;
}
#footer-content{
    background-color: #2b2d30;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer h1{
    font-size: 28px;
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
.minimum-path{
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}